<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="jdbc.properties"/>
  <typeAliases>

    <!--给指定类起别名-->
    <!--<typeAlias type="com.Mylearning.domain.Province" alias="Myprovince"/>-->

    <!--自动为指定包下所有类起别名，配置相应xml映射文件时只需要写类名就可以-->
    <package name="com.Onely.crm.setting.domain"/>

  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}" />
        <property name="username" value="${user}" />
        <property name="password" value="${password}" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!--注册指定mapper文件： <mapper resource="com.Mylearning/dao/ProvinceDao.xml" />-->
    <!--        &lt;!&ndash;批量注册包下所有mapper文件自动注册&ndash;&gt;-->
    <package name="com.Onely.crm.setting.dao"/>
    <!--        <mapper resource="com.Mylearning/dao/ProvinceDao.xml" />-->
  </mappers>
</configuration>